<div class="container-fluid">
 <div class="row">
   <div class="col-sm-6">
     <div class="col-sm-6">
        <img src="../assets/makeup5.jpg" alt="Makeup" style="width:64%">
     </div>
     <div class="col-sm-6">
        <h4><b>Description</b></h4> 
                <p>Price</p>
                <button type="button" class="btn btn-primary">DELETE</button>
     </div>
    </div>
    
    <div class="col-sm-6">
     <div class="col-sm-6">
        <img src="../assets/bg12.jpg" alt="Makeup" style="width:64%">
     </div>
     <div class="col-sm-6">
        <h4><b>Description</b></h4> 
                <p>Price</p>
                <button type="button" class="btn btn-primary">DELETE</button>
     </div>
   </div>
   <br>
   <div class="col-sm-6">
      <div class="col-sm-6">
         <img src="../assets/bg12.jpg" alt="Makeup" style="width:64%">
      </div>
      <div class="col-sm-6">
         <h4><b>Description</b></h4> 
                 <p>Price</p>
                 <button type="button" class="btn btn-primary">DELETE</button>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-6">
           <img src="../assets/bg12.jpg" alt="Makeup" style="width:64%">
        </div>
        <div class="col-sm-6">
           <h4><b>Description</b></h4> 
                   <p>Price</p>
                   <button type="button" class="btn btn-primary">DELETE</button>
        </div>
      </div>
 </div>

</div>