<body>
  <div class="container">
    <ul>
      <li><a href="#">Audio</a>
        <ul>
          <li><a>Headphones</a></li>
          <li><a>Blutooth Speakers</a></li>
          <li><a>Soundbars</a></li>
          <li><a>Home theatre Speakers</a></li>
          <li><a>Laptop Speakers</a></li>
        </ul>
      </li>
      <li><a href="#">Men Wear</a>
        <ul>
          <li><a>Footwear</a></li>
          <li><a>Clothing</a></li>
          <li><a>Watches</a></li>
          <li><a>Eyewear</a></li>
          <li><a>Bags & luggage</a></li>
        </ul>
      </li>
      <li><a href="#">Women Wear</a>
        <ul>
          <li><a>Footwear</a></li>
          <li><a>Clothing</a></li>
          <li><a>Watches</a></li>
          <li><a>Eyewear</a></li>
          <li><a>Beauty & Wellness</a></li>
        </ul>
      </li>
      <li><a href="#">Kids Wear</a>
        <ul>
          <li><a>Kids Clothing</a></li>
          <li><a>Kids Footwear</a></li>
          <li><a>Toys & Games</a></li>
          <li><a>Baby care</a></li>
          <li><a>School Bags</a></li>
        </ul>
      </li>
      <li><a href="#">Mobile Accessories</a>
        <ul>
          <li><a>Cases</a></li>
          <li><a>Headphones</a></li>
          <li><a>Memory Cards</a></li>
          <li><a>Mobile Cables</a></li>
          <li><a>Pendrives</a></li>
        </ul>
      </li>

    </ul>
    <br><br><br>
    <div class="cont">
      <div class="box">
        <div class="imgBox">
          <img src="../../assets/image20.jpg">
        </div>
        <div class="details">
          <div class="content">
            <h2>HEAD PHONES</h2>
            <p>Discount: <span class="red">-50%</span></p>
            <p>MRP: Rs.800 only</p>
          </div>
        </div>
      </div>
      <div class="box">
          <div class="imgBox">
            <img src="../../assets/image23.jpg">
          </div>
          <div class="details">
            <div class="content">
              <h2>KIDS WEAR</h2>
              <p>Discount: <span class="red">-40%</span></p>
              <p>MRP: Rs.800</p>
            </div>
          </div>
        </div>
      <div class="box">
        <div class="imgBox">
          <img src="../../assets/image16.jpg">
        </div>
        <div class="details">
          <div class="content">
            <h2>GOGGLES</h2>
            <p>Discount: <span class="red">-50%</span></p>
            <p>MRP: Rs.1000 only</p>
          </div>
        </div>
      </div><br>
      <div class="box">
          <div class="imgBox">
            <img src="../../assets/image25.jpg">
          </div>
          <div class="details">
            <div class="content">
              <h2>Kurti</h2>
              <p>Discount: <span class="red">-30%</span></p>
              <p>ON ALL BRANDS!!!</p>
            </div>
          </div>
        </div>
        <div class="box">
            <div class="imgBox">
              <img src="../../assets/image28.jpg">
            </div>
            <div class="details">
              <div class="content">
                <h2>MEN WEAR</h2>
                <p>Discount: <span class="red">-30%</span></p>
                <p>ON ALL TOP BRANDS!!!</p>
              </div>
            </div>
          </div>
          <div class="box">
              <div class="imgBox">
                <img src="../../assets/image35.jpg">
              
              </div>
              <div class="details">
                <div class="content">
                  <h2>MOBILES</h2>
                  <p>FLAT <span class="red">-30%</span> DISCOUNT</p>
                  <p>ON ALL TOP MOBILE BRANDS!!!</p>
                </div>
              </div>
            </div>

    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>