<div class="container-fluid">
    <div class="grid-container">

      <div class="grid-item"><div class="card">
        <img src="../assets/makeup5.jpg" alt="Makeup" style="width:100%">
        <div class="container">
          <h4><b>Description</b></h4> 
          <p>Price</p> 
        </div>
      </div></div>
      </div>
  


<!-- <div class="container">
  <p class="heading">PRODUCT DETAILS</p>
  <img class= "image" src="../../assets/{{productDetail.imagePath}}"><br><br><br>
  <p>{{productDetail.productname}}</p>
  <p>{{productDetail.brandname}}</p>
  <p>{{productDetail.description}}</p>
  <p>{{productDetail.price}}</p>
  <p>{{productDetail.specialPrice}}</p>
  <br><br>
  <button type="submit" (click)="addproducttocart(productDetail.id)">ADD TO CART</button>
  
  <button type="submit" (click)="buyNow()">BUY NOW</button>
  
</div> -->



