<div class="container-fluid pl-0 pr-0">
        
          <div class="row ml-0 mr-0">
      <div class="col-12 pl-0 pr-0">
        <div id="slider">
          <figure>
            <img src="assets/bg.jpg" class="img1">
            <img src="assets/bg13.jpg" class="img2">
            <img src="assets/bg2.jpg"  class="img3">
            <img src="assets/bg7.jpg"  class="img4">
            <img src="assets/bg12.jpg"  class="img5">
          </figure>
        </div>
      </div>
      </div>
  <div class="container">
      <div class="box">
        <div class="imgBox">
          <img src="../../assets/makeup1.jpg">
        </div>
      </div>
      <div class="box">
        <div class="imgBox">
          <img src="../../assets/makeup5.jpg">
        </div>
      </div><br>
      <div class="box">
        <div class="imgBox">
          <img src="../../assets/makeup6.jpg">
        </div>
      </div>
    </div>
  
  </div>